/*
  CSS Reset from
  Josh: https://www.joshwcomeau.com/css/custom-css-reset/
  Andy-bell: https://andy-bell.co.uk/a-more-modern-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: currentColor;
  cursor: pointer;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}
/* Reset Ends */

/* Hides screen-reader contents */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* Custom properties */
:root {
  /* primary colors */
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);

  /* neutral colors */
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);

  /* font-weights */
  --regular: 400;
  --bold: 700;
  --extra-bold: 800;
}

html {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: var(--regular);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--off-white);
  z-index: 100;
  /* padding: 0 1rem 2rem; */
}

header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: min(100%, 1200px);
  height: 100px;
  padding: 2rem 1rem;
  z-index: 100;
  background-color: var(--off-white);
}

.logo {
  width: 50px;
}

.hamburger {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hamburger__toggle {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

header:has(#hamburger_open:checked) > .nav {
  display: flex;
}

header:has(#hamburger_close:checked) > .nav {
  display: none;
}

.header__nav {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10000;
}

.nav {
  flex-direction: column;
  align-items: flex-start;
  width: min(70%, 400px);
  height: 100vh;
  padding: 20vh 2rem 5vh;
  background-color: var(--off-white);
}

.nav__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.5rem;
  color: var(--very-dark-blue);
}

.nav__item:has(:hover, :focus-visible, :active) {
  color: var(--soft-orange);
}

.nav__hamburger {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

#navWrapper {
  position: absolute;
  display: none;
  height: 100vh;
  top: 0;
  right: 0;
  left: 0;
  opacity: 0.4;
  background-color: var(--very-dark-blue);
  z-index: 1000;
}

header:has(#hamburger_open:checked) > #navWrapper {
  display: block;
}

main {
  display: grid;
  row-gap: 3rem;
  padding: 0 1rem 3rem;
}

.post__img {
  max-width: 100px;
  height: auto;
}

.post__title {
  font-size: 1.2rem;
  font-weight: var(--bold);
}

.post__snippet {
  font-size: 1rem;
  line-height: 1.8;
  color: var(--dark-grayish-blue);
}

.post__btn {
  display: inline-block;
  width: 175px;
  font-size: 1rem;
  font-weight: var(--bold);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 0.8rem;
  margin-top: 1.5rem;
  background-color: var(--soft-red);
  color: var(--off-white);
}

.post__btn:is(:hover, :focus-visible, :active) {
  background-color: var(--very-dark-blue);
}

.latest__post {
  /* 800 */
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, auto);
  gap: 1.5rem;
}

.latest__post .post__img {
  max-width: 100%;
}

.latest__post .post__title {
  font-size: 3rem;
  font-weight: var(--extra-bold);
}

.recent {
  /* 400px */
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  background-color: var(--very-dark-blue);
}

.recent__heading {
  font-size: 2rem;
  color: var(--soft-orange);
  margin-bottom: 1rem;
}

.recent__post {
  padding: 2rem 0;
}

.recent__post:not(:last-of-type) {
  border-bottom: 1px solid var(--grayish-blue);
}

.recent__post .post__title {
  font-size: 1.35rem;
  color: var(--off-white);
  margin-bottom: 1rem;
}

.recent__post .post__title:has(:hover, :focus-visible, :active) {
  color: var(--soft-orange);
}

.recent__post .post__snippet {
  color: var(--grayish-blue);
}

.other {
  /* 375 */
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.other__post {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.other__inner {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.other__post .post__title {
  color: var(--very-dark-blue);
}

.other__post .post__title:has(:hover, :focus-visible, :active) {
  color: var(--soft-red);
}

.other__post .post__title--highlighted {
  display: block;
  font-size: 2rem;
  margin-bottom: 0.8rem;
  color: var(--grayish-blue);
}

@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }

  header:has(#hamburger_close:checked) > nav {
    display: flex;
  }

  nav {
    width: min(470px, 60%);
    height: auto;
    min-height: auto;
    padding: 0;
    background-color: var(--off-white);
  }

  .header__nav {
    position: relative;
    top: auto;
    right: auto;
    z-index: 0;
  }

  .nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    font-size: 1.25rem;
    color: var(--dark-grayish-blue);
    /* margin-bottom: 10rem; */
  }
}

@media screen and (min-width: 1200px) {
  header {
    height: 140px;
    padding: 3rem 1rem;
  }
  .logo {
    width: 65px;
  }
}
